@import url('https://fonts.googleapis.com/css?family=Patua+One|Prosto+One&subset=cyrillic,latin-ext');
body {
    background-image: url("../img/geometry.png");


    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scroling: touch;

}

h1 {
    font-family: Patua One;

}

h2 {
    font-family: Prosto one;
    font-size: 30px;
}

h3{
    font-family: Prosto One;
    font-size: 30px;
    
}

h5 {
    font-family: Prosto one;
    font-size: 40px;
     
    
}

p {
    line-height: 20px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
    
}

a:hover,a:focus {
    color:white;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #000000;
    margin: 1em 0;
    padding: 0;
  
}

.navbar{
    font-family: Prosto one;
    font-weight: 800;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.navbar-inverse {
    border-color: #080808;

}

.navbar-inverse .navbar-nav > .active > a{
    color: darkviolet;
}

#fot {
    position:absolute;
    top
    bottom: 0;
    width: 100%;
    

}

#footer-logo {
    font-size: 20px;
    margin-top: 0px;
}




.pullUp{
    animation-name: pullUp;
    -webkit-animation-name: pullUp; 
 
    animation-duration: 3s; 
    -webkit-animation-duration: 3s;
 
    animation-timing-function: ease-out;    
    -webkit-animation-timing-function: ease-out;    
 
    transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;         
}
 
@keyframes pullUp {
    0% {
        transform: scaleY(0.1);
    }
    40% {
        transform: scaleY(1.02);
    }
    60% {
        transform: scaleY(0.98);
    }
    80% {
        transform: scaleY(1.01);
    }
    100% {
        transform: scaleY(0.98);
    }               
    80% {
        transform: scaleY(1.01);
    }
    100% {
        transform: scaleY(1);
    }                           
}
 
@-webkit-keyframes pullUp {
    0% {
        -webkit-transform: scaleY(0.1);
    }
    40% {
        -webkit-transform: scaleY(1.02);
    }
    60% {
        -webkit-transform: scaleY(0.98);
    }
    80% {
        -webkit-transform: scaleY(1.01);
    }
    100% {
        -webkit-transform: scaleY(0.98);
    }               
    80% {
        -webkit-transform: scaleY(1.01);
    }
    100% {
        -webkit-transform: scaleY(1);
    }       
}