@import url('https://fonts.googleapis.com/css?family=Patua+One|Prosto+One&subset=cyrillic,latin-ext');

	
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

body {
    background-image: url("../img/geometry.png");


    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scroling: touch;

}

h1 {
    font-family: Patua One;

}

h2 {
    font-family: Prosto one;
}

p {
    line-height: 20px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

a:hover,
a:focus {
    color: white;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    color: black;
 
}

.navbar {
    font-family: Prosto one;
    font-weight: 800;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.navbar-inverse {
    border-color: #080808;

}

.navbar-inverse .navbar-nav > .active > a {
    color: darkviolet;
}



.container-fluid {
    margin-top:1400px ;
    padding-top: 1000px;
    margin-bottom: 0px;
    background-color: blue
}


#background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../img/geometry.png);

}

#footer-logo {
    font-size: 20px;
    margin-top: 0px;
}

#scroll{
    margin-top: 600px;
}

<div class="error404page">
  <div class="newcharacter404">
    <div class="chair404"></div>
    <div class="leftshoe404"></div>
    <div class="rightshoe404"></div>
    <div class="legs404"></div>
    <div class="torso404">
      <div class="body404"></div>
      <div class="leftarm404"></div>
      <div class="rightarm404"></div>
      <div class="head404">
        <div class="eyes404"></div>
      </div>
    </div>
    <div class="laptop404"></div>
  </div>
</div>